<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to my {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="./assets/580b57fbd9996e24bc43bfb3.png">
  <img width="300" alt="Angular Logo2" src="../assets/580b57fbd9996e24bc43bfb3.png">
  <img width="300" alt="Angular Logo3" src="../../docs/assets/580b57fbd9996e24bc43bfb3.png">
  <img width="300" alt="Angular Logo4" src="assets/580b57fbd9996e24bc43bfb3.png">
</div>
<h2>Food for Heroes </h2>

<app-product></app-product>
<router-outlet></router-outlet>