/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/dev-210912-unsplash.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    font-family: 'Prompt', sans-serif;
    text-align: center;
}
li {
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: #A73429;
    text-decoration: none;

}
h1 {
    font-family: 'Prompt', sans-serif;
    color: #A73429;
}
h2 {
    font-family: 'Norican', cursive;
    color: #A73429;
    font-size: 3rem;
    text-align: center;
}
/* font-family: 'Dekko', cursive;
font-family: 'Sofia', cursive;
font-family: 'Delius Swash Caps', cursive; */
